<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">
        <i class="material-icons">label</i>Wedstrijden</a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons">format_list_bulleted</i>Schemas</a>
    <a class="mdl-navigation__link" href="">
        <i class="material-icons">perm_identity</i>Spelers</a>
    <a class="mdl-navigation__link" href="">
        <i class="material-icons">event</i>Programma</a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons">settings</i>Instellingen</a>
  </nav>
</div>