// @import '../../../node_modules/material-design-lite/src/material-design-lite.scss';

h4 {
    color: darkgray;
}
.login-card-wide.mdl-card {
    width: 512px;
}

.login-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.login-card-wide > .mdl-card__menu {
    color: #fff;
}
