<span class="mdl-layout-title">Title</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
</nav>

<!-- <nav class="mdl-navigation"> -->
<!--  <a [routerLink]="['/']" class="mdl-navigation__link">Home</a> -->
<!--  <a [routerLink]="['/login']" class="mdl-navigation__link">Login</a> -->
<!--  <a [routerLink]="['/dashboard']" routerLinkActive="active" class="mdl-navigation__link">Dashboard</a> -->
<!-- </nav> -->
