.notificationbar {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: lightcoral;
    height: 0;
    padding-left: 54px;
    padding-right: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: height ease-in-out 0.5s;

    span {
        line-height: 34px;
    }

    i.material-icons {
        line-height: 34px;
        color: white;
        cursor: pointer;
    }

}

.open {
    height: 34px;
}