@import '../../../node_modules/material-design-lite/src/material-design-lite.scss';

body {
  padding: 100px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkblue;
}

a {
  color: #00B7FF;
}